{% extends "layout.jinja2" %}
{% block body %}
<h1>{{ single_entry.title }}</h1>
<p>{{ single_entry.date }}</p>
<hr>
<p>{{ single_entry.body | safe }}</p>
<a class="btn btn-default" href="{{ request.route_url('edit', id=id) }}" role="button">Edit <i class="fa fa-pencil"></i></a>
{% endblock %}