{% extends "layout.jinja2" %}
{% block body %}
<h1>New entry</h1>
<form action="{{ request.route_url('new') }}" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" placeholder="Title" name="title" required autofocus>
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" rows="6" placeholder="Body" name="body" required></textarea>
    </div>
    <button type="submit" class="btn btn-default" >Submit</button>
</form>
{% endblock %}