<h1>James - Monday week 3</h1>
<p>Monday Aug 22 2016</p>
<a class="btn btn-default" href="/edit" role="button">Edit <i class="fa fa-pencil"></i></a>
<p>Today I leant about pyramid and deploying pyramid on Heroku. It's pretty bad. Of the platforms and deployment parings I have tried its most similar to deploying laravel on a VPS (but that can be made much easier by using forge managed Laravel platform).</p>

<p>Deploying JS apps on Heroku is easier and you get single page architecture. Deploying Wordpress on managed hosting is 100 times easier and you get a lot of advantages.</p>

<p>I am not particularly looking forward to learning about pyramid but I do look forward to some forced SQL practice.</p>